In [2]:
from preamble import *

In [2]:
raw_data9 = pd.DataFrame(pd.read_csv('data/raw data/9.csv', header=None))
raw_data10 = pd.DataFrame(pd.read_csv('data/raw data/10.csv', header=None))
raw_data11 = pd.DataFrame(pd.read_csv('data/raw data/11.csv', header=None))
raw_data12 = pd.DataFrame(pd.read_csv('data/raw data/12.csv', header=None))

input_flow = raw_data9.set_index(1)[2]
output_flow = raw_data10.set_index(1)[2] + raw_data11.set_index(1)[2]
height = raw_data12.set_index(1)[2]

data = pd.DataFrame({'input_flow':input_flow, 'output_flow':output_flow, 'height':height})
data.index.name = 'observation_time'
data.index = pd.to_datetime(data.index)

hourly_data = data.resample('h').sum()
hourly_input = round(hourly_data['input_flow'] / 60, 2)
hourly_output = round(hourly_data['output_flow'] / 60, 2)
hourly_height = round(hourly_data['height'] / 60, 2)

data_hourly = pd.DataFrame({'reservoir_id':1, 'input':hourly_input, 'output':hourly_output, 'height':hourly_height})
data_hourly.head()

                     reservoir_id   input  output  height
observation_time
2023-01-01 00:00:00             1   77.88  101.05    4.89
2023-01-01 01:00:00             1  107.09  119.92    4.99
2023-01-01 02:00:00             1  143.67  124.54    5.01
2023-01-01 03:00:00             1  144.95   80.16    5.01
2023-01-01 04:00:00             1  159.06  104.88    5.02

In [3]:
data = pd.DataFrame(pd.read_csv('data/reservoir_merged_hourly.csv', header=None))
data.dropna(inplace=True)
data.to_csv(path_or_buf='data/reservoir_merged_hourly.csv', index=False)

C:\Users\user\AppData\Local\Temp\ipykernel_20404\2181673988.py:1: DtypeWarning: Columns (1,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.DataFrame(pd.read_csv('data/reservoir_merged_hourly.csv', header=None))