In [1]:
from preamble import *

In [2]:
data9 = pd.DataFrame(pd.read_csv('data/raw data/9.csv', header=None))
data10 = pd.DataFrame(pd.read_csv('data/raw data/10.csv', header=None))
data11 = pd.DataFrame(pd.read_csv('data/raw data/11.csv', header=None))
data12 = pd.DataFrame(pd.read_csv('data/raw data/12.csv', header=None))

In [3]:
input_flow = data9.set_index(1)[2]
output_flow = data10.set_index(1)[2] + data11.set_index(1)[2]
height = data12.set_index(1)[2]
input_flow.shape, output_flow.shape, height.shape

((943433,), (943436,), (943502,))

In [4]:
j_data = pd.DataFrame({'input_flow':input_flow, 'height':height, 'output_flow':output_flow})
j_data.index.name = 'datetime'
j_data = j_data.astype(float)
j_data.index = pd.to_datetime(j_data.index)
j_data.head()

                     input_flow  height  output_flow
datetime
2023-01-01 00:01:00       75.23    4.97       101.18
2023-01-01 00:02:00       74.65    4.97        98.53
2023-01-01 00:03:00       75.28    4.97       102.03
2023-01-01 00:04:00       74.67    4.97       100.53
2023-01-01 00:05:00       75.06    4.97       104.79

In [5]:
hourly_data = j_data.resample('h').sum()
hourly_j_data = hourly_data.reset_index()
hourly_j_data.head()

             datetime  input_flow  height  output_flow
0 2023-01-01 00:00:00     4672.98  293.21      6063.02
1 2023-01-01 01:00:00     6425.49  299.24      7195.35
2 2023-01-01 02:00:00     8620.11  300.63      7472.46
3 2023-01-01 03:00:00     8697.04  300.72      4809.88
4 2023-01-01 04:00:00     9543.70  301.02      6292.50

In [6]:
hourly_j_data['height'] = hourly_j_data['height'] / 60

In [7]:
id = pd.Series(np.ones(hourly_j_data.shape[0]))

In [8]:
hourly_j_data.insert(1, 'id', id)
# j_data['id'] = id
hourly_j_data['id'] = hourly_j_data['id'].fillna(1).astype(int)
hourly_j_data.head()

             datetime  id  input_flow  height  output_flow
0 2023-01-01 00:00:00   1     4672.98    4.89      6063.02
1 2023-01-01 01:00:00   1     6425.49    4.99      7195.35
2 2023-01-01 02:00:00   1     8620.11    5.01      7472.46
3 2023-01-01 03:00:00   1     8697.04    5.01      4809.88
4 2023-01-01 04:00:00   1     9543.70    5.02      6292.50

In [9]:
hourly_j_data.shape

(15739, 5)

In [10]:
hourly_j_data.dropna(inplace=True)

In [11]:
hourly_j_data.to_csv(path_or_buf='data/j_reservoir_info.csv', index=False)
# label.to_csv(path_or_buf='data/j_label.csv')