In [9]:
from preamble import *

data1 = pd.DataFrame(pd.read_csv('data/raw data/20.csv', header=None))
data2 = pd.DataFrame(pd.read_csv('data/raw data/70.csv', header=None))
data3 = pd.DataFrame(pd.read_csv('data/raw data/21.csv', header=None))
# data4 = pd.DataFrame(pd.read_csv('data/raw data/12.csv', header=None))

In [10]:
max_height = 5
area = 200

input = data1.set_index(1)[2]
# output = data1.set_index(1)[2]
height = data3.set_index(1)[2]
height_delta = height.shift(-1) - height
water_delta = (height_delta / max_height) * area
water_delta
# input = np.random.rand(943504)
output = input + water_delta
output

1
2023-01-01 00:01:00    60.50
2023-01-01 00:02:00    60.07
2023-01-01 00:03:00    60.09
2023-01-01 00:04:00    60.54
2023-01-01 00:05:00    60.60
                       ...
2024-10-17 18:45:00      NaN
2024-10-17 18:46:00      NaN
2024-10-17 18:47:00      NaN
2024-10-17 18:48:00      NaN
2024-10-17 18:49:00      NaN
Name: 2, Length: 943524, dtype: float64

In [11]:
data = pd.DataFrame({'reservoir_id' : 2, 'input':input, 'output':output,'height':height})
data.index.name = 'observation_time'
data = data.astype(float)
data.reset_index(inplace=True)

data['observation_time'] = pd.to_datetime(data['observation_time'])
data['hour'] = data['observation_time'].dt.floor('h')
hourly_data = data.groupby(['reservoir_id', 'hour']).mean(numeric_only=True)

hourly_data.reset_index(inplace=True)

hourly_data = hourly_data.rename(columns={
  'hour': 'observation_time', 
})

new_order = ['observation_time', 'reservoir_id', 'input', 'output', 'height']

hourly_data = hourly_data[new_order]

hourly_data['reservoir_id'] = hourly_data['reservoir_id'].astype(int)

hourly_data.to_csv(path_or_buf='data/reservoir/f.csv', index=False)

In [12]:
# etc = pd.DataFrame(pd.read_csv('data/reservoir_merged.csv'))
a = pd.DataFrame(pd.read_csv('data/reservoir/a.csv'))
b = pd.DataFrame(pd.read_csv('data/reservoir/b.csv'))
d = pd.DataFrame(pd.read_csv('data/reservoir/d.csv'))
e = pd.DataFrame(pd.read_csv('data/reservoir/e.csv'))
g = pd.DataFrame(pd.read_csv('data/reservoir/g.csv'))
i = pd.DataFrame(pd.read_csv('data/reservoir/i.csv'))
j = pd.DataFrame(pd.read_csv('data/reservoir/j.csv'))
k = pd.DataFrame(pd.read_csv('data/reservoir/k.csv'))
l = pd.DataFrame(pd.read_csv('data/reservoir/l.csv'))
c = pd.DataFrame(pd.read_csv('data/reservoir/c.csv'))
f = pd.DataFrame(pd.read_csv('data/reservoir/f.csv'))
h = pd.DataFrame(pd.read_csv('data/reservoir/h.csv'))
# c = pd.DataFrame(pd.read_csv('data/temp/c.csv'))
# f = pd.DataFrame(pd.read_csv('data/temp/f.csv'))
# h = pd.DataFrame(pd.read_csv('data/temp/h.csv'))

result = pd.concat([a, b, c, d, e, f, g, h, i, j, k, l], ignore_index=True)
# result = pd.concat([etc, c, f, h], ignore_index=True)
result.shape

(188874, 5)

In [13]:
result['input'] = round(result['input'], 2)
result['output'] = round(result['output'], 2)
result['height'] = round(result['height'], 2)

In [14]:
result.head()

      observation_time  reservoir_id   input  output  height
0  2023-01-01 00:00:00             5  308.02  202.54    2.52
1  2023-01-01 01:00:00             5  284.42  129.78    2.77
2  2023-01-01 02:00:00             5  263.23  188.98    2.99
3  2023-01-01 03:00:00             5  262.98  150.53    3.15
4  2023-01-01 04:00:00             5  211.58  147.40    3.33

In [15]:
result.to_csv(path_or_buf='data/reservoir_merged_hourly.csv', index=False)

In [10]:
result['observation_time'] = pd.to_datetime(result['observation_time'])
result = result.set_index('observation_time')  # 'observation_time'을 인덱스로 설정
df_oct_21 = result.loc['2023-10-21']

In [11]:
df_oct_21

                     reservoir_id   input  output  height
observation_time
2023-10-21 00:01:00             5  280.00  264.00    2.62
2023-10-21 00:02:00             5  286.00  253.00    2.59
2023-10-21 00:03:00             5  288.00  247.00    2.59
2023-10-21 00:04:00             5  280.00  265.00    2.59
2023-10-21 00:05:00             5  279.00  239.00    2.60
...                           ...     ...     ...     ...
2023-10-21 23:55:00            10    0.41    0.42    2.27
2023-10-21 23:56:00            10    0.79    0.81    2.27
2023-10-21 23:57:00            10    0.65    0.65    2.27
2023-10-21 23:58:00            10    0.67    0.68    2.27
2023-10-21 23:59:00            10    0.10    0.12    2.27

[17268 rows x 4 columns]

In [12]:
df_oct_21.reset_index(inplace=True)

In [13]:
df_oct_21.to_csv(path_or_buf='data/reservoir_merged_10_21.csv', index=False)