In [1]:
from preamble import *

In [2]:
data8 = pd.DataFrame(pd.read_csv('data/raw data/8.csv', header=None))
data9 = pd.DataFrame(pd.read_csv('data/raw data/9.csv', header=None))

In [3]:
pressure = data8.set_index(1)[2]
flux = data9.set_index(1)[2]

In [10]:
d_data = pd.DataFrame({'pressure':pressure, 'flux':flux})
d_data.index.name = 'datetime'
d_data.head()

                     pressure   flux
datetime
2023-01-01 00:01:00      9.69  75.23
2023-01-01 00:02:00      9.69  74.65
2023-01-01 00:03:00      9.69  75.28
2023-01-01 00:04:00      9.69  74.67
2023-01-01 00:05:00      9.69  75.06

In [11]:
d_data = d_data.astype(float)

In [12]:
d_data.reset_index(inplace=True)
d_data['datetime'] = pd.to_datetime(d_data['datetime'])
d_data.head()

             datetime  pressure   flux
0 2023-01-01 00:01:00      9.69  75.23
1 2023-01-01 00:02:00      9.69  74.65
2 2023-01-01 00:03:00      9.69  75.28
3 2023-01-01 00:04:00      9.69  74.67
4 2023-01-01 00:05:00      9.69  75.06

In [13]:
d_data.shape

(943566, 3)

In [15]:
d_data.dropna(inplace=True)
d_data.shape

(943432, 3)

In [16]:
d_data.to_csv(path_or_buf='data/d_pressure_flux.csv', index=False)