In [1]:
from preamble import *

In [2]:
data8 = pd.DataFrame(pd.read_csv('data/raw data/8.csv', header=None))
data9 = pd.DataFrame(pd.read_csv('data/raw data/9.csv', header=None))
data10 = pd.DataFrame(pd.read_csv('data/raw data/10.csv', header=None))
data11 = pd.DataFrame(pd.read_csv('data/raw data/11.csv', header=None))

In [3]:
pressure = data8.set_index(1)[2]
flux = data9.set_index(1)[2]
outflow = data10.set_index(1)[2] + data11.set_index(1)[2]

In [5]:
d_data = pd.DataFrame({'pressure':pressure, 'flux':flux, 'outflow':outflow})
d_data.index.name = 'datetime'
d_data.head()

                     pressure   flux  outflow
datetime
2023-01-01 00:01:00      9.69  75.23   101.18
2023-01-01 00:02:00      9.69  74.65    98.53
2023-01-01 00:03:00      9.69  75.28   102.03
2023-01-01 00:04:00      9.69  74.67   100.53
2023-01-01 00:05:00      9.69  75.06   104.79

In [6]:
d_data = d_data.astype(float)

In [7]:
d_data.reset_index(inplace=True)
d_data['datetime'] = pd.to_datetime(d_data['datetime'])
d_data.head()

             datetime  pressure   flux  outflow
0 2023-01-01 00:01:00      9.69  75.23   101.18
1 2023-01-01 00:02:00      9.69  74.65    98.53
2 2023-01-01 00:03:00      9.69  75.28   102.03
3 2023-01-01 00:04:00      9.69  74.67   100.53
4 2023-01-01 00:05:00      9.69  75.06   104.79

In [8]:
d_data.shape

(943566, 4)

In [9]:
d_data.dropna(inplace=True)
d_data.shape

(943431, 4)

In [11]:
d_data.to_csv(path_or_buf='data/d_pressure_flux_outflow.csv', index=False)