In [1]:
from preamble import *

In [2]:
data9 = pd.DataFrame(pd.read_csv('data/raw data/9.csv', header=None))
data10 = pd.DataFrame(pd.read_csv('data/raw data/10.csv', header=None))
data11 = pd.DataFrame(pd.read_csv('data/raw data/11.csv', header=None))
data12 = pd.DataFrame(pd.read_csv('data/raw data/12.csv', header=None))
data13 = pd.DataFrame(pd.read_csv('data/raw data/13.csv', header=None))

In [3]:
input_flow = data9.set_index(1)[2]
output_flow = data10.set_index(1)[2] + data11.set_index(1)[2]
height_new = data12.set_index(1)[2]
height_old = data13.set_index(1)[2]
input_flow.head()
print(output_flow)

1
2023-01-01 00:01:00    101.18
2023-01-01 00:02:00     98.53
2023-01-01 00:03:00    102.03
2023-01-01 00:04:00    100.53
2023-01-01 00:05:00    104.79
                        ...
2024-10-17 17:17:00    177.74
2024-10-17 17:18:00    171.91
2024-10-17 17:19:00    175.83
2024-10-17 17:20:00       NaN
2024-10-17 17:21:00       NaN
Name: 2, Length: 943436, dtype: float64

In [4]:
j_data = pd.DataFrame({'input_flow':input_flow, 'height_new':height_new, 'height_old':height_old, 'output_flow':output_flow})
j_data.index.name = 'datetime'
j_data.index = pd.to_datetime(j_data.index)
j_data.head()

                     input_flow  height_new  height_old  output_flow
datetime
2023-01-01 00:01:00       75.23        4.97        2.05       101.18
2023-01-01 00:02:00       74.65        4.97        2.05        98.53
2023-01-01 00:03:00       75.28        4.97        2.05       102.03
2023-01-01 00:04:00       74.67        4.97        2.05       100.53
2023-01-01 00:05:00       75.06        4.97        2.05       104.79

In [5]:
hourly_data = j_data.resample('h').sum()
hourly_data = hourly_data.reset_index()
hourly_input = hourly_data['input_flow']
hourly_output = hourly_data['output_flow']
hourly_output.head()

0    6063.02
1    7195.35
2    7472.46
3    4809.88
4    6292.50
Name: output_flow, dtype: float64

In [6]:
df = pd.DataFrame(pd.read_csv('./data/weather_2023.csv'))
df2 = pd.DataFrame(pd.read_csv('./data/weather_2024.csv'))
weather_2023 = df.iloc[:, 2:]
weather_2024 = df2.iloc[:, 2:]
# weather_2023 = weather_2023.set_index(weather_2023.columns[0]) 
# weather_2024 = weather_2024.set_index(weather_2024.columns[0])
weather_2023.fillna(0, inplace=True)
weather_2024.fillna(0, inplace=True)
weather_2023.head(), weather_2024.head()

(                 일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  현지기압(hPa)  적설(cm)
 0  2023-01-01 00:00    -0.9      0.0      1.4   72.0     1023.6     0.0
 1  2023-01-01 01:00    -1.3      0.0      1.5   74.0     1023.3     0.0
 2  2023-01-01 02:00    -1.7      0.0      1.4   75.0     1023.1     0.0
 3  2023-01-01 03:00    -2.0      0.0      1.2   77.0     1023.3     0.0
 4  2023-01-01 04:00    -2.0      0.0      1.7   79.0     1022.8     0.0,
                  일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  현지기압(hPa)  적설(cm)
 0  2024-01-01 00:00     4.0      0.0      1.2     79     1018.8     0.0
 1  2024-01-01 01:00     3.8      0.0      1.5     80     1019.1     0.0
 2  2024-01-01 02:00     3.9      0.0      0.2     79     1019.4     0.0
 3  2024-01-01 03:00     3.5      0.0      0.4     84     1019.9     0.0
 4  2024-01-01 04:00     1.9      0.0      1.1     92     1020.1     0.0)

In [7]:
weather = pd.concat([weather_2023, weather_2024], axis=0)
weather = weather.set_index('일시').astype(float)
weather.head()
# weather.tail()

                  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  현지기압(hPa)  적설(cm)
일시
2023-01-01 00:00    -0.9      0.0      1.4   72.0     1023.6     0.0
2023-01-01 01:00    -1.3      0.0      1.5   74.0     1023.3     0.0
2023-01-01 02:00    -1.7      0.0      1.4   75.0     1023.1     0.0
2023-01-01 03:00    -2.0      0.0      1.2   77.0     1023.3     0.0
2023-01-01 04:00    -2.0      0.0      1.7   79.0     1022.8     0.0

In [8]:
# weather.index.name = 'Date'
weather = weather.reset_index()
weather.rename(columns={'일시':'datetime', '기온(°C)': 'temperature', '강수량(mm)': 'precipitation', '풍속(m/s)': 'wind_speed', '습도(%)': 'humidity', '현지기압(hPa)':'atmospheric_pressure', '적설(cm)':'snow'}, inplace=True)
weather['datetime'] = pd.to_datetime(weather['datetime'])
weather.head()

,datetime,temperature,precipitation,wind_speed,humidity,atmospheric_pressure,snow
0,2023-01-01 00:00:00,-0.9,0.0,1.4,72.0,1023.6,0.0
1,2023-01-01 01:00:00,-1.3,0.0,1.5,74.0,1023.3,0.0
2,2023-01-01 02:00:00,-1.7,0.0,1.4,75.0,1023.1,0.0
3,2023-01-01 03:00:00,-2.0,0.0,1.2,77.0,1023.3,0.0
4,2023-01-01 04:00:00,-2.0,0.0,1.7,79.0,1022.8,0.0

In [10]:
weather['outflow'] = hourly_input
weather['input'] = hourly_output
weather.head()

,datetime,temperature,precipitation,wind_speed,humidity,atmospheric_pressure,snow,outflow,input
0,2023-01-01 00:00:00,-0.9,0.0,1.4,72.0,1023.6,0.0,4672.98,6063.02
1,2023-01-01 01:00:00,-1.3,0.0,1.5,74.0,1023.3,0.0,6425.49,7195.35
2,2023-01-01 02:00:00,-1.7,0.0,1.4,75.0,1023.1,0.0,8620.11,7472.46
3,2023-01-01 03:00:00,-2.0,0.0,1.2,77.0,1023.3,0.0,8697.04,4809.88
4,2023-01-01 04:00:00,-2.0,0.0,1.7,79.0,1022.8,0.0,9543.70,6292.50

In [11]:
# weather = weather.astype(float)
weather.shape

(17208, 9)

In [12]:
weather = weather.dropna()

In [13]:
weather.to_csv(path_or_buf='data/j_weather_data_lstm_v2.csv', index=False)
# label.to_csv(path_or_buf='data/j_label.csv')